section.mt-0.mb-0.mb-lg-5#about
    .container
        .row
            .col-12.col-lg-6.d-none.d-lg-block.p-0.text-right
                img.img-fluid.w-100(src="img/Главная/img-tool.png")
            .col-12.col-lg-6.p-0
                .about-wrap.py-5.pl-5.pr-5.pr-lg-0
                    .title
                        h3 О компании
                    .content.text-justify
                        p Современные технологии достигли такого уровня, что дальнейшее развитие различных форм деятельности, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для кластеризации усилий. Таким образом, начало повседневной работы по формированию позиции однозначно определяет каждого участника как способного принимать собственные решения касаемо дальнейших направлений развития. Банальные, но неопровержимые выводы, а также акционеры крупнейших компаний являются только методом...
                    .bottom.mt-4
                        a.btn.zavodpr-btn(href="#") Подробнее