section#advantages
    .container
        .d-flex.flex-wrap.justify-content-around
            .advantage.text-center
                img(src="img/Главная/info-lab.png")
                .content
                    p Собственная лаборатория для проведения испытаний
            .advantage.text-center
                img(src="img/Главная/info-factory.png")
                .content
                    p Две производственные площадки в Московской области
            .advantage.text-center
                img(src="img/Главная/info-tank.png")
                .content
                    p Отгрузка объемных продуктов с трёх нефтебаз в России
            .advantage.text-center
                img(src="img/Главная/info-box.png")
                .content
                    p Отгрузка нефтехимии от заводов-производителей