section#catalog
    .container.p-0
        .title.px-3.px-lg-0.text-center.text-lg-left.mb-5
            h3 Каталог продукции
        .cards.d-flex.flex-wrap.justify-content-between
            .card.catalog-item
                img(src="img/Главная/img-diesel.png")
                .card-body
                    h4 Для дизельного топлива
            .card.catalog-item
                img(src="img/Главная/img-petrol.png")
                .card-body
                    h4 Для бензина
            .card.catalog-item
                img(src="img/Главная/img-oil.png")
                .card-body
                    h4 Для темных нефтепродуктов и нефти