section.m-0#feedback
    .container
        .row
            .col-12.col-lg-6.p-0
                .form-wrap
                    .title.pt-5.text-center.text-lg-left
                        h3 Форма обратной связи
            .col-12.col-lg-6.d-none.d-lg-block.p-0.text-left
                img.img-fluid(src="img/Главная/img-conversation.png")