//- let menuItems = {"about": {"name":"О компании", "team": "Команда", "two":"Документы", "three":"Реквизиты", "four": "Вопрос-ответ", "five": "Партнеры"}, "delivery": "Доставка", "catalog": "Каталог продукции", "news": "Новости", "articles": "Статьи", "contacts":"Контакты", "calculator": "Калькулятор"}
footer.p-5
    .container
        .row.d-flex.align-items-top
            .col-12.col-lg-4.order-4.order-lg-1
                .social-icons
                    ul.d-flex.flex-nowrap.flex-lg-wrap.text-left.justify-content-start.w-80.my-3
                        +socialIcons
                .confidential.mt-5
                    a(href="#") Политика конфиденциальности
                .copyright
                    .mt-3.p-0 &copy; 2019 Все права защищены

            .col-12.col-lg-2.d-none.d-lg-block.order-1.order-lg-2
                .footer-menu
                    .title
                        h4 О компании
                    ul.w-80.justify-content-between.pb-3.pb-lg-0.ml-0
                        each item, idx in menuItems.about
                            if idx === 'name'
                                return
                            else
                                li
                                    a(href='#' + idx)=item
            .col-12.col-lg-2.d-none.d-lg-block.order-1.order-lg-2
                .footer-menu
                    .title
                        h4 Меню
                    ul.w-80.justify-content-between.pb-3.pb-lg-0.ml-0
                        each item, idx in menuItems
                            if idx === 'about' || idx === 'calculator'
                                return
                            else
                                li
                                    a(href='#' + idx)=item
            .offset-1.order-3
            .col-12.col-lg-2.d-none.d-lg-block.order-2.order-lg-3
                .footer-contacts.text-right.d-flex.flex-wrap.align-items-start.justify-content-end.h-100
                    .title
                        h4 Контакты
                    .tel
                        a(href="tel:+79128577186") +79128577186
                    .email
                        a(href="mailto:login@email.com") login@email.com
                    .addr Удмуртия, г. Ижевск<br>ул. Ижевская 2