- let icons = ["fa-viber", "fa-whatsapp", "fa-skype", "fa-vk", "fa-instagram", "fa-facebook", "fa-youtube"]
section#header.py-2.d-none.d-lg-block
    .container
        .header-wrap
            .row.d-flex.justify-content-between.align-items-center
                .col-3
                    .address.text-left.d-flex.align-items-center.prsp
                        .addr Волоколамское Шоссе,<br>д. 116, офис 438
                .col-6
                    .contacts.d-flex.justify-content-around
                        .request-price
                            a.high(href="#") Запросить прайс
                        .email
                            a(href="mailto:login@gmail.com") login@gmail.com
                        .tel
                            a(href="tel:+79128577186") +79128577186
                        .request-callback
                            a.high(href="#") Заказать звонок
                .col-3
                    .social-icons.d-none.d-lg-block
                        ul.d-flex.justify-content-end
                            each icon in icons
                                li
                                    a
                                        i.fab(class=icon)



