include ./mixins
section#history.mt-0.mt-lg-5
    .container
        .row.history-title.align-items-center.mb-5
            .col-12.col-lg-4
                h3.mb-5.mb-lg-0.m-0 История компании
            .col-12.col-lg-4.d-flex.justify-content-between.align-items-center
                .filter-input
                    form
                        .form-group.m-0
                            select.form-control(name="year")
                                option(value = "2015") 2015
                                option(value = "2016") 2016
                                option(value = "2017") 2017
                                option(value = "2018") 2018
                                option(value = "2019") 2019
                .social-icons
                    ul.d-flex
                        +socialIcons
            .col-12.col-lg-4.text-right
                .slick-arrows.d-none.d-lg-flex#arrowsHistory
                    button.slick-arrow.prev
                        i.fas.fa-chevron-left
                    button.slick-arrow.next
                        i.fas.fa-chevron-right
        .slick-history.text-justify
            - let n = 1
            while n < 5
                .item.history-item
                    p=n+" Безусловно, внедрение современных методик играет определяющее значение для системы массового участия."
                    p Как уже неоднократно упомянуто, диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть своевременно верифицированы. Повседневная практика показывает, что базовый вектор развития требует анализа системы обучения кадров, соответствующей насущным потребностям. Таким образом, реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствующей насущным потребностям. Каждый из нас понимает очевидную вещь: убежденность некоторых оппонентов предоставляет широкие возможности для глубокомысленных рассуждений. Банальные, но неопровержимые выводы, а также ключевые особенности структуры проекта ограничены исключительно образом мышления! Равным образом, граница обучения кадров не дает нам иного выбора, кроме определения приоритизации разума над эмоциями.
                    p Приятно, граждане, наблюдать, как базовые сценарии поведения пользователей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут подвергнуты целой серии независимых исследований.
                - n++