doctype html

html(lang="ru")
    include head
    body
        include loader
        include header
        include mainmenu

        block content

        include footer

        include scrollTop

        include modals

        include ymaps_script