doctype html

html(lang="ru")
    include ../includes/head
    body
        include ../includes/loader
        include ../includes/header
        include ../includes/mainmenu


        block content

        //include ../includes/footer

        //include ../includes/modals