- let icons = ["fa-viber", "fa-whatsapp", "fa-skype", "fa-vk", "fa-instagram", "fa-facebook", "fa-youtube"]
- let menuItems = {"about": "О компании", "afisha": "Афиша", "gallery": "Фотогалерея", "services": "Услуги клуба", "info": "Новости и статьи", "about-club":"О клубе"}
section#mainmenu
    .container.p-0
        nav.navbar.navbar-expand-lg
            a.navbar-brand(href="#").d-block.d-lg-none
                .adaptive-logo.w-50
                    img(src="img/logo_sm.png" alt="")
            .social-icons.d-none.d-lg-block
                ul.d-flex.text-left
                    each icon in icons
                        li
                            a
                                i.fab(class=icon)
            button.navbar-toggler.nav-button(type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation")
                .animated-icon1
                    span
                    span
                    span
            .collapse.navbar-collapse.text-center#navbar1
                ul.navbar-nav.m-auto.d-flex.justify-content-between
                    each item, idx in menuItems
                        li.nav-item
                            a.nav-link(href='' + idx)=item

                .invite-button.mt-5.mt-lg-0.ml-0.ml-lg-5
                    .btn.zavodpr-btn(data-toggle="modal" data-target="#invitationModal") Получить приглашение
                .mob-block.d-block.d-lg-none
                    .contacts-mob.mt-4.d-flex.justify-content-between
                        .addr.text-left Удмуртия, г. Ижевск<br>ул. Ижевская 2
                        .contact.text-right
                            .tel
                                a(href="tel:+79128577186") +79128577186
                            .email
                                a(href="mailto:login@gmail.com") login@gmail.com

                    .hours.mt-4 Ежедневно c 22:00 до 6:00

                    .social-icons.d-block.d-lg-none.mt-4
                        ul.d-flex.justify-content-center
                            each icon in icons
                                li
                                    a
                                        i.fab(class=icon)
