.pagination-wrap.justify-content-center.justify-content-lg-end.mr-0.mr-lg-5
    .page-prev
        a(href="#")
            i.fas.fa-chevron-left
    .page-item
        a(href="#") 1
    .page-item.active 2
    .page-item
        a(href="#") 3
    .page-item
        a(href="#") 4
    .page-item
        a(href="#") 5
    .page-next
        a(href="#")
            i.fas.fa-chevron-right