section#stagesMobile.d-block.d-lg-none.m-0
    .container-fluid.p-0
        .row
            .col-12
                .stages.d-flex.justify-content-between.flex-column.align-items-center
                    .stage.end-blue
                        .title.text-center.pt-5
                            h3 Этапы работы
                    .stage.end-white.pt-5.text-center
                        img.mt-3(src="img/Главная/online-shop.png")
                        .text.w-100
                            p Название этапа работы
                    .stage.end-blue.pt-5.text-center
                        img.mt-3(src="img/Главная/info-24-hours.png")
                        .text.w-100
                            p Название этапа работы
                    .stage.end-white.pt-5.text-center
                        img.mt-3(src="img/Главная/info-delivery.png")
                        .text.w-100
                            p Название этапа работы
                    .stage.end-blue.pt-5.pb-5.text-center
                        img.mt-3(src="img/Главная/info-check-list.png")
                        .text.w-100
                            p Название этапа работы
section#stages.d-none.d-lg-block
    .container-fluid
        .row
            .offset-2
            .col-8
                .stages.d-flex.align-items-center.justify-content-around
                    .stage.end-blue.empty
                    .stage.end-white.empty
                    .stage-title.end-blue.align-items-center.d-flex.flex-nowrap.justify-content-center
                        .title.text-nowrap
                            h3 Этапы работы
                    .stage.end-white.align-items-center.d-flex.flex-wrap.justify-content-center
                        img.mt-3(src="img/Главная/online-shop.png")
                        .text.w-100.text-center
                            p Название этапа работы
                    .stage.end-blue.align-items-center.d-flex.flex-wrap.justify-content-center
                        img.mt-3(src="img/Главная/info-24-hours.png")
                        .text.w-100.text-center
                            p Название этапа работы
                    .stage.end-white.align-items-center.d-flex.flex-wrap.justify-content-center
                        img.mt-3(src="img/Главная/info-delivery.png")
                        .text.w-100.text-center
                            p Название этапа работы
                    .stage.end-blue.align-items-center.d-flex.flex-wrap.justify-content-center
                        img.mt-3(src="img/Главная/info-check-list.png")
                        .text.w-100.text-center
                            p Название этапа работы
                    .stage.end-blue.empty
                    .stage.end-white.empty
            .offset-2
