section#stages
    .container-fluid
        .row
            .offset-2
            .col-8
                .stages.d-flex.align-items-center.justify-content-around
                    .stage.end-blue.empty
                    .stage.end-white.empty
                    .stage-title.end-blue.align-items-center.d-flex.flex-nowrap.justify-content-center
                        .title.text-nowrap
                            h3 Этапы работы
                    .stage.end-white.align-items-center.d-flex.flex-wrap.justify-content-center
                        img.mt-3(src="img/Главная/online-shop.png")
                        .text.w-100.text-center
                            p Название этапа работы
                    .stage.end-blue.align-items-center.d-flex.flex-wrap.justify-content-center
                        img.mt-3(src="img/Главная/info-24-hours.png")
                        .text.w-100.text-center
                            p Название этапа работы
                    .stage.end-white.align-items-center.d-flex.flex-wrap.justify-content-center
                        img.mt-3(src="img/Главная/info-delivery.png")
                        .text.w-100.text-center
                            p Название этапа работы
                    .stage.end-blue.align-items-center.d-flex.flex-wrap.justify-content-center
                        img.mt-3(src="img/Главная/info-check-list.png")
                        .text.w-100.text-center
                            p Название этапа работы
                    .stage.end-blue.empty
                    .stage.end-white.empty
            .offset-2
