.switch-row.my-3.d-flex.justify-content-between
    .custom-control.custom-switch.p-0
        label.switch
            input.primary(type="checkbox")
            span.sw-slider.round
    .custom-tile
        .view.icon-tile.active(data-view="tile")
            i.fas.fa-th
        .view.icon-list(data-view="list")
            i.fas.fa-th-list