- const routes_api_key = '4d38f47a-a46d-48dc-9a6e-2c7fc0a37260';
- const js_api_key = 'b96bcbc8-64fc-4ccb-9cb0-1f8ef30c6fbd';
- const api_url = 'https://api-maps.yandex.ru/2.1/?apikey=' + js_api_key + '&lang=ru_RU';

script(src=api_url)

//- Тут же и рекапча
script(src="https://www.google.com/recaptcha/api.js" async defer)
