extends ../includes/layout

block content
    - let crumbs = [{"href": "#", "title": "Главная"}, {"href": "#", "title": "О компании"}, {"href": "#", "title": "Вопросы и ответы"}]
    +breadcrumbs(crumbs)
    section#faq
        .container
            .title.mb-5
                h3 Вопросы и ответы
            .desc.mb-5
                p.m-0 В данном разделе приведены ответы на часто задаваемые вопросы посетителей вашего будущего сайта. Использование данного раздела позволит сократить нагрузку на операторов и повысить удовлетворенность ваших клиентов.
            .accordion.my-5
                - let a = 0
                while a < 8
                    .accordion-card.bg-white.px-4.pt-4.pb-0.mb-1(id="card"+a)
                        .title.pb-4.d-flex.justify-content-between
                            h5 Работаете ли вы в отсрочку платежа?
                            .arrow.d-none.d-lg-block
                                i.fa.fa-chevron-down
                        .collapsible.collapse
                            .py-4
                                p Безусловно, внедрение современных методик играет определяющее значение для системы массового участия. Как уже неоднократно упомянуто, диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть своевременно верифицированы. Повседневная практика показывает, что базовый вектор развития требует анализа системы обучения кадров, соответствующей насущным потребностям. Таким образом, реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствующей насущным потребностям. Каждый из нас понимает очевидную вещь: убежденность некоторых оппонентов предоставляет широкие возможности для глубокомысленных рассуждений. Банальные, но неопровержимые выводы, а также ключевые особенности структуры проекта ограничены исключительно образом мышления! Равным образом, граница обучения кадров не дает нам иного выбора, кроме определения приоритизации разума над эмоциями. Как уже неоднократно упомянуто, элементы политического процесса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть ограничены исключительно образом мышления. А еще независимые государства разоблачены. Приятно, граждане, наблюдать, как базовые сценарии поведения пользователей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут подвергнуты целой серии независимых исследований.
                    - a ++
            .card.requisite-card.my-5.d-flex.align-items-center.justify-content-between.flex-row.p-4.bg-white#question
                .left
                    img(src="img/Вопросы%20и%20ответы/icon-blank.png")
                .right
                    p.m-0 Не нашли ответа на свой вопрос?
                    p.m-0 Свяжитесь с нами, и мы предоставим необходимую информацию.
                a(href="#two" role="tab" data-toggle="tab").btn.zavodpr-btn.rightBtn Задать вопрос