include ../includes/mixins

doctype html

html(lang="ru")
    include ../includes/head
    body
        include ../includes/loader
        .container.mt-5
            ul.index-ul.d-flex.flex-column.flex-wrap
                +page("main.html", "Главная")
                +page("about.html", "О компании")
                //-+page("ymap.html", "Калькулятор")
                +page("team.html", "Команда")
                +page("partners.html", "Партнеры")
                +page("requisites.html", "Реквизиты")
                +page("faq.html", "Вопросы и ответы")
                +page("delivery.html", "Доставка")
                +page("catalog.html", "Каталог")
                +page("subcategory.html", "Подраздел каталога")
                +page("items.html", "Карточки товаров")
                +page("item.html", "Товар")
                +page("info.html", "Новости/Статьи")
                +page("info-detail.html", "Новости/Статьи детально")
                +page("contacts.html", "Контакты")
