extends ../includes/layout
include ../includes/mixins

block content
    - let crumbs = [{"href": "#", "title": "Главная"}, {"href": "#", "title": "Новости/Статьи"}]
    +breadcrumbs(crumbs)

    section#info
        .container
            .title
                h3 Новости/Статьи
            .info-items.d-flex.flex-column.flex-lg-row
                - let i = 1
                while i <= 11

                    .item.info-item.ml-0.mr-0.mr-lg-4.my-3
                        .card
                            .card-title.title
                                h4 Название новости в две строки
                            .card-body
                                p В своем стремлении повысить качество жизни, они забывают, что внедрение... <a href="#">Читать далее</a>
                            .card-footer.p-0
                                img(src="img/Главная/img-news-1.png")
                    - i++
            .info-pagination.m-5
                include ../includes/pagination