extends ../includes/layout
include ../includes/mixins

block content
    - let crumbs = [{"href": "#", "title": "Главная"}, {"href": "#", "title": "Каталог продукции"}, {"href": "#", "title": "Подраздел каталога"}, {"href": "#", "title": "Раздел карточек товара"}]
    +breadcrumbs(crumbs)

    section#items.mb-5
        .container
            .title.mb-4
                h3 Раздел карточек товара
            include ../includes/switchRow
            .catalog-row.d-flex.flex-column.flex-lg-row
                .left-bar
                    include ../includes/filters

                .catalog-items-wrap.w-100
                    include ../includes/catalog_items

            .cat-pagination.my-5
                include ../includes/pagination
            .cat-description.text-justify
                p Безусловно, внедрение современных методик играет определяющее значение для системы массового участия. Как уже неоднократно упомянуто, диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть своевременно верифицированы. Повседневная практика показывает, что базовый вектор развития требует анализа системы обучения кадров, соответствующей насущным потребностям. Таким образом, реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствующей насущным потребностям. Каждый из нас понимает очевидную вещь: убежденность некоторых оппонентов предоставляет широкие возможности для глубокомысленных рассуждений. Банальные, но неопровержимые выводы, а также ключевые особенности структуры проекта ограничены исключительно образом мышления! Равным образом, граница обучения кадров не дает нам иного выбора, кроме определения приоритизации разума над эмоциями. Как уже неоднократно упомянуто, элементы политического процесса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть ограничены исключительно образом мышления. А еще независимые государства разоблачены. Приятно, граждане, наблюдать, как базовые сценарии поведения пользователей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут подвергнуты целой серии независимых исследований.