extends ../includes/layout

block content
    //include ../includes/carousel
    //include ../includes/afisha
    //include ../includes/gallery
    //include ../includes/services
    //include ../includes/about
    //include ../includes/info