extends ../includes/layout

block content
    include ../includes/carousel
    include ../includes/advantages
    include ../includes/catalog
    include ../includes/complete_solutions
    include ../includes/feedback
    include ../includes/about
    include ../includes/team
    include ../includes/stages
    include ../includes/info