extends ../includes/layout

block content
    include ../includes/carousel
    include ../includes/advantages
    include ../includes/catalog
    //include ../includes/services
    //include ../includes/about
    //include ../includes/info