extends ../includes/layout
include ../includes/mixins
block content
    - let crumbs = [{"href": "#", "title": "Главная"}, {"href": "#", "title": "О компании"}, {"href": "#", "title": "Реквизиты"}]
    +breadcrumbs(crumbs)

    -
        let requisites = [
        {
        title: "Полное наименование",
        value: "Общество с ограниченной ответственностью «ЗАВОД ПРИСАДОК И РЕАГЕНТОВ»"
        },{
        title: "Сокращенное наименование",
        value: "ООО «ЗАВОД ПРИСАДОК И РЕАГЕНТОВ»"
        },{
        title: "ИНН/КПП",
        value: "2907016616/290701001"
        },{
        title: "ОГРН",
        value: "1152907000443"
        },{
        title: "Юридический адрес",
        value: "165150, Архангельская обл. г. Вельск, ул. 50 лет октября, дом 79, корпус Д."
        },{
        title: "Фактический адрес",
        value: "125371, город Москва, Волоколамское Шоссе, 116с1, офис 438"
        },{
        title: "Телефон, факс:",
        value: "+7 (495)776-87-88"
        },{
        title: "Электронная почта:",
        value: "info@zavodpr.ru"
        },{
        title: "Сайт",
        value: "https://zavodpr.ru"
        },{
        title: "Банковские реквизиты:",
        value: "БИК 041117772 Р/с №40702810048020000297 в АО «Россельхозбанк» г. Архангельск, Кор/счет 30101810000000000772"
        }
        ]

    section#requisites
        .container
            .title
                h3 Реквизиты
            .text-content.my-5
                p Ниже приведены реквизиты компании, в случае необходимости получения дополнительных документов: свидетельства о государственной регистрации, идентификационного номера налогоплательщика вы можете обратиться в нашу бухгалтерию.
            .requisites
                each req in requisites
                    .card.requisite-card
                        .left=req.title
                        .right=req.value
            .card.requisite-card.my-5#file
                .left
                    img(src="img/Реквизиты/icon-file.png")
                .right
                    p Скачать карту партнера <br> 39.4 Кб
