extends ../includes/layout
include ../includes/mixins

block content
    - let crumbs = [{"href": "#", "title": "Главная"}, {"href": "#", "title": "Каталог продукции"}, {"href": "#", "title": "Подраздел каталога"}]
    +breadcrumbs(crumbs)

    section#subcategory.mb-5
        .container
            .title.mb-4
                h3 Подраздел каталога
            .categories.d-flex.flex-wrap.mb-1
                -
                    let categories = [
                        {0:"img/Подраздел%20каталога/info-snow.png", 1:"Депрессорно- диспергирующие"},
                        {0:"img/Подраздел%20каталога/info-grease.png", 1:"Противоизносная (смазывающая) «BRAVOS Oiling»"},
                        {0:"img/Подраздел%20каталога/info-cetane.png", 1:"Цетаноповышающая «BRAVOS Cetane»"},
                        {0:"img/Подраздел%20каталога/info-fire.png", 1:"Катализаторы горения"},
                        {0:"img/Подраздел%20каталога/info-test-tubes.png", 1:"Антиокислители, стабилизаторы, нейтрализаторы"},
                        {0:"img/Подраздел%20каталога/info-flavors.png", 1:"Ароматизаторы топливные"},
                        {0:"img/Подраздел%20каталога/info-palette.png", 1:"Красители топливные"},
                        {0:"img/Подраздел%20каталога/info-washing.png", 1:"Моющая присадка «BRAVOS Clean D»"}
                    ]
                each item in categories
                    +subcategory(item[0], item[1])
            include ../includes/switchRow
            .catalog-row.d-flex.flex-column.flex-lg-row
                .left-bar
                    include ../includes/filters
                .catalog-items-wrap.w-100
                    include ../includes/catalog_items
            .cat-pagination.my-5
                include ../includes/pagination